<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../styling/bootstrap-4.0.0-dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h2>Learning bootstrap</h2>
    <br />
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="border p-3 mb-3" style="text-align: justify">
            he will b going home to look after his childred tur adipisicing
            elit. Numquam iste asperiores consequatur tenetur. Reiciendis minus
            quisquam repudiandae dolorem, voluptatem cupiditate facere, et ex
            asperiores aspernatur exercitationem unde est dolore voluptate.
          </p>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            iste asperiores consequatur tenetur. Reiciendis minus quisquam
            repudiandae dolorem, voluptatem cupiditate facere, et ex asperiores
            aspernatur exercitationem unde est dolore voluptate.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
            iste asperiores consequatur tenetur. Reiciendis minus quisquam
            repudiandae dolorem, voluptatem cupiditate facere, et ex asperiores
            aspernatur exercitationem unde est dolore voluptate.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
