<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sequi
        quaerat ullam, totam debitis, incidunt itaque voluptas possimus at vitae
        perspiciatis eum nemo nesciunt sapiente delectus, libero labore. Facere,
        labore?
      </p>
    </div>
  </body>
</html>
