<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web development training by Emobilis</title>
    <link rel="stylesheet" href="../css/body.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/divs.css" />
  </head>

  <header id="header" class="header-items">
    <section class="section-1-of-header">
      <h3>We celebrate every Kenyan</h3>
      <h3>We celebrate every Kenyan</h3>
      <h3>We celebrate every Kenyan</h3>
    </section>
  </header>

  <body>
    <div id="div1" class="divs">
      <section class="section-1-of-div1">
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
      </section>

      <section class="section-2-of-div1">
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
      </section>
    </div>

    <div id="div2" class="divs">
      <h2>Featured Goods</h2>
      <br />
      <section id="product-container" class="product-grid">
        <!-- Products will be rendered here -->
      </section>

      <section>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
      </section>
    </div>

    <div id="div3" class="divs">
      <section>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
      </section>

      <section>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
      </section>
    </div>
    <div id="div4" class="divs">
      <section>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
        <h3>Contents in first section</h3>
      </section>

      <section>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
        <h3>Contents in 2nd section</h3>
      </section>
    </div>

    <div id="div5" class="divs">
      <section>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/PM9Waz5MpdQ?si=LpseycKwaZHiUbcc"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </section>

      <!-- Google maps -->
      <section>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d249.30441426308224!2d36.87793879117181!3d-1.248829947805498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1595d1dd12d5%3A0xa9776eeee852dfd7!2sRiverside%20estate!5e0!3m2!1sen!2ske!4v1728983591404!5m2!1sen!2ske"
          width="600"
          height="250"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </section>
    </div>

    <footer class="footer">
      <section>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
        <h3>This if footer contents</h3>
      </section>
    </footer>
    <script src="../js/homepage.js"></script>
  </body>
</html>
