/* body styling  */
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* main {
  background-image: url(https://plus.unsplash.com/premium_photo-1673697240011-76f7f9220300?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  min-height: 80vh;
  border: solid 1px;
} */
